@import "tailwindcss";

@theme {
  /* Paleta FACTIRAM */
  --color-midnight: #1e293b;     /* Azul profundo para textos y títulos */
  --color-emerald-pro: #10b981;  /* Esmeralda para acciones */
  --color-slate-soft: #64748b;   /* Gris para textos secundarios */
  --color-bg-app: #f8fafc;       /* Fondo ultra claro */
}

/* Forzamos que ignore el modo oscuro del sistema para mantener la imagen de marca */
:root {
  color-scheme: light;
}

@layer base {
  body {
    @apply bg-[family-name:--color-bg-app] text-[family-name:--color-midnight] antialiased;
    margin: 0;
    padding: 0;
  }
}